@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (max-width: 753px) {
  nav .menu {
    display: block !important;
    cursor: pointer;
    transition: 0.2s all;
    font-size: 1.2rem; }
  nav .close {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 6; }
  nav .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.85;
    display: none;
    animation: 0.4s fadeIn forwards; }
  nav ul {
    position: fixed;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 30px 0 !important;
    box-sizing: border-box;
    transition: 0.4s all; }
    nav ul li {
      width: 100%;
      text-align: center;
      padding: 15px; }
      nav ul li a {
        font-size: 1.2rem; }
    nav ul.show {
      top: 0; } }

@media screen and (max-width: 818px) {
  #whatIdo ul {
    grid-template-columns: 1fr; }
  #myTools ul {
    grid-template-columns: repeat(3, 1fr) !important; } }

@media screen and (max-width: 845px) {
  #about .container {
    flex-direction: column; }
    #about .container .content {
      order: 2;
      text-align: center;
      margin-top: 30px; }
    #about .container .avatar {
      order: 1; }
  #contact .container {
    flex-direction: column; }
    #contact .container form {
      margin-top: 20px;
      max-width: 600px; }
      #contact .container form input[type="submit"] {
        margin-bottom: 0; } }

@media screen and (max-width: 500px) {
  #myTools ul {
    grid-template-columns: repeat(2, 1fr) !important; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.85; } }

@media screen and (max-width: 845px) {
  #contact {
    padding-bottom: 15px; } }

@media screen and (max-width: 375px) {
  #intro .content h1 {
    font-size: 28px !important;
    padding: 20px 22px !important; }
  #intro .content h2 {
    font-size: 22px !important; }
  #myTools ul li i {
    font-size: 5rem !important; }
  .btn2 {
    font-size: 0.9rem; } }

@media screen and (max-width: 730px) {
  .preview img {
    width: 500px; } }

@media screen and (max-width: 530px) {
  .preview img {
    width: 450px; } }

@media screen and (max-width: 450px) {
  .preview img {
    width: 400px; } }

@media screen and (max-width: 380px) {
  .preview img {
    width: 350px; } }

@media screen and (max-width: 320px) {
  .preview img {
    width: 300px; } }

@media screen and (max-width: 290px) {
  .preview img {
    width: 265px; }
  #portfolio ul {
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr)) !important; }
  .btn2 {
    font-size: 0.8rem; } }

body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  color: #fff; }

html {
  scroll-behavior: smooth; }

.btn {
  display: inline-block;
  padding: 20px 50px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s all ease-in;
  font-weight: 600; }
  .btn:hover {
    background: #d43f52;
    border: 2px solid #d43f52; }

.btn2 {
  width: 100%;
  padding: 15px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: 0.3s all;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center; }
  .btn2 i {
    margin-right: 5px; }
  .btn2:hover {
    background: #d43f52;
    border: 2px solid #d43f52; }

.alert {
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  background: #f44336; }
  .alert i {
    margin-right: 10px; }

.success {
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  background: #00796b; }
  .success i {
    margin-right: 10px; }

.container {
  max-width: 90%;
  margin: auto; }

nav {
  background: #1a1a1a;
  padding: 25px 0;
  position: fixed;
  top: -200px;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 2px 2px 0 #0f0f0f;
  transition: 0.3s all ease-in; }
  nav h1 {
    margin: 0; }
  nav .menu,
  nav .close {
    display: none; }
  nav .container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px; }
    nav ul li {
      list-style: none;
      font-size: 13px; }
      nav ul li .active {
        color: #d43f52;
        font-weight: 600; }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        cursor: pointer; }

#intro {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  #intro .overflow {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    z-index: 1; }
  #intro .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    text-align: center;
    max-width: 620px;
    margin: auto;
    padding: 0px 10px; }
    #intro .content h1 {
      color: #d43f52;
      border: 2px solid #d43f52;
      padding: 30px 40px;
      font-size: 2rem;
      letter-spacing: 6px; }
    #intro .content h2 {
      font-size: 30px;
      margin-bottom: 15px;
      transition: 0.4s all; }
    #intro .content p {
      color: #999;
      margin-bottom: 50px; }

.whatIdo {
  background: #1a1a1a;
  padding: 80px 20px;
  text-align: center; }
  .whatIdo h2 {
    font-size: 35px;
    margin-bottom: 30px; }
  .whatIdo ul {
    padding: 0;
    margin: 0;
    max-width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; }
    .whatIdo ul li {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 2px solid #fff;
      padding: 30px 10px;
      border-radius: 8px; }
      .whatIdo ul li .icon {
        width: 60px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-bottom: 20px; }
        .whatIdo ul li .icon i {
          color: #d43f52;
          font-size: 1.3rem; }
      .whatIdo ul li .content {
        text-align: center; }
        .whatIdo ul li .content h3 {
          margin-top: 0; }
        .whatIdo ul li .content p {
          color: #999;
          line-height: 24px;
          font-weight: 500; }

#myTools {
  background: #000;
  padding: 80px 0px; }
  #myTools h2 {
    margin: 0;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center; }
  #myTools ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; }
    #myTools ul li {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: column; }
      #myTools ul li i,
      #myTools ul li img {
        font-size: 5.7rem;
        margin-bottom: 15px; }
      #myTools ul li img {
        height: 80px;
        width: 80px; }

#portfolio {
  background: #1a1a1a;
  padding: 50px 0px; }
  #portfolio h2 {
    text-align: center;
    font-size: 35px; }
  #portfolio ul {
    padding: 0;
    margin: 0;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px; }
    #portfolio ul li {
      list-style: none;
      position: relative;
      border: 2px solid #fff;
      border-radius: 12px; }
      #portfolio ul li img {
        display: block;
        object-fit: contain;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        height: auto; }
      #portfolio ul li .content {
        padding: 20px 10px; }
        #portfolio ul li .content h3 {
          margin: 0; }
        #portfolio ul li .content p {
          color: #999; }
        #portfolio ul li .content .bottom1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px; }
        #portfolio ul li .content .bottom2 {
          margin-top: 10px; }
        #portfolio ul li .content .techs {
          margin-bottom: 10px;
          display: flex;
          flex-wrap: wrap;
          gap: 5px; }
          #portfolio ul li .content .techs span {
            border: 2px solid #fff;
            padding: 3px 7px;
            border-radius: 15px;
            font-size: 12px;
            cursor: default;
            transition: 0.2s all; }
            #portfolio ul li .content .techs span:hover {
              border: 2px solid #d43f52;
              background: #d43f52; }

.about {
  background: #000;
  padding: 100px 0; }
  .about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .about .container h2 {
      font-size: 35px;
      margin: 0; }
    .about .container .content {
      flex-basis: 50%; }
      .about .container .content p {
        color: #999; }
        .about .container .content p:nth-child(2) {
          color: #d43f52;
          font-weight: 600;
          font-size: 1.3rem; }
    .about .container .avatar {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .about .container .avatar .imgCover {
        border: 6px solid #d43f52;
        border-radius: 50%;
        width: 200px;
        height: 200px; }
        .about .container .avatar .imgCover img {
          width: 200px;
          height: 200px;
          border-radius: 50%; }

.contact {
  padding: 65px 0;
  background: #1a1a1a; }
  .contact .container {
    display: flex;
    justify-content: space-between; }
    .contact .container .info {
      flex-basis: 50%; }
      .contact .container .info h2 {
        margin: 0;
        margin-bottom: 30px; }
      .contact .container .info p {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #999;
        font-weight: 600; }
        .contact .container .info p span {
          height: 40px;
          width: 40px;
          border: 2px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%; }
          .contact .container .info p span i {
            font-size: 0.8rem;
            color: #fff; }
      .contact .container .info ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        margin-top: 30px; }
        .contact .container .info ul li {
          list-style: none;
          cursor: pointer; }
          .contact .container .info ul li a {
            text-decoration: none;
            color: #fff; }
          .contact .container .info ul li i {
            font-size: 2.3rem;
            transition: 0.2s all; }
            .contact .container .info ul li i:hover {
              color: #d43f52; }
    .contact .container form {
      flex-basis: 50%; }
      .contact .container form input,
      .contact .container form textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 17px 10px;
        margin-bottom: 20px;
        border: 2px solid #999;
        background: transparent;
        color: #fff; }
      .contact .container form textarea {
        height: 100px; }
      .contact .container form input[type="submit"] {
        background: #d43f52;
        border: 0;
        font-weight: 600;
        cursor: pointer; }

.preview {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; }
  .preview .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 8; }
  .preview i {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 1.5rem;
    z-index: 9;
    cursor: pointer; }
  .preview img {
    max-width: 700px;
    position: relative;
    z-index: 9;
    border: 3px solid #d43f52;
    height: auto;
    margin: auto; }
